Django==2.2.21
django-model-utils==3.2.0
django-webpack-loader==0.6.0
djangorestframework==3.10.3
pytest-django==3.7.0
pyyaml
psycopg2==2.8.4
pytest
git+https://github.com/pinax/pinax-badges.git
pinax-points==1.0
