{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_class %}index{% endblock %}

{% block content %}
    <div id="test-react"></div>
    {% for module in object_list %}
        <a
            class="sd-card mod-card-2 sd-elevation-2 game-module-card"
            href="{% url 'module' module.id %}">
            <h1>
                {{ module.game_module.title }}
            </h1>
            <p>
                {{ module.game_module.description }}
            </p>
        </a>
    {% endfor %}

    <div>
        <a class="sd-button-small-no" href="{% url 'logout' %}">Logout</a>
    </div>

{% endblock %}

