{% extends 'base.html' %}

{% block body_class %}index{% endblock %}

{% block content %}
    <div class="sd-card sd-elevation-2 game-module-card">
        <div class="module-header">
            <h1 class="header-text">
                {{ object.game_module.title }}
            </h1>
        </div>
        <p class="header-text">
            {{ object.game_module.description }}
        </p>
        <div class="home-button-container">
            <a class="sd-button-small-yes" href="/">Home</a>
        </div>
    </div>
    {% for game in object.user_games.all %}
        {% if game.is_locked %}
            <div class="sd-card sd-elevation-2 game-module-card locked">
                <h2>
                    {{ game.game_level.title }}
                </h2>
                <p>
                    LOCKED
                </p>
            </div>
        {% else %}
            <a
                class="sd-card sd-elevation-2 game-module-card"
                href="/game/{{ game.id }}/">
                <h2>
                    {{ game.game_level.title }}
                </h2>
                <p>
                    {{ game.game_level.description }}
                </p>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}